.cta {
    @include flex-col;
    align-items: center;
    background: $intro-email url('/img/bg-curvy-mobile.svg') center bottom/150% 55% no-repeat;
    justify-content: center;
    padding-top: 5rem;

    @media screen and (min-width: $tablet) {
        background: $intro-email url('/img/bg-curvy-desktop.svg') center bottom/100% 30% no-repeat;
        padding-top: 8rem;
    }

    @media screen and (min-width: $desktop) {
        background: $intro-email url('/img/bg-curvy-desktop.svg') center bottom/100% 25% no-repeat;
    }

    img {
        object-fit: contain;
        width: 70%;

        @media screen and (min-width: $tablet) {
            width: 55%;
        }
    }

    &__text {
        @include flex-col;
        justify-content: center;
        width: 80%;
        margin: 1rem;

        @media screen and (min-width: $tablet) {
            width: 55%;
        }

        h2 {
            margin: 1rem 0;
        }
    }
}

/* 
@media screen and (min-width: $tablet) {}
@media screen and (min-width: $desktop) {}
 */