#features {
    @include flex-col;
    margin: 2rem;

    @media screen and (min-width: $tablet) {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .feature-card {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 3rem;
        width: 80%;

        @media screen and (min-width: $tablet) {
            margin: 2rem;
            width: 35%;
        }

        img {
            margin: 1rem;
            max-height: 5rem;

            @media screen and (min-width: $tablet) {}
        }

        &__title {
            font-weight: 800;
            margin: .5rem;
        }
    }

}

/* 
@media screen and (min-width: $tablet) {}
@media screen and (min-width: $desktop) {}
 */