header {
    background: $background;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    position: fixed;
    width: 100%;

    @media screen and (min-width: $tablet) {
        padding: 2rem;
    }

    @media screen and (min-width: $desktop) {
        padding: 2rem;
    }

    h1 {
        width: 20%;

        @media screen and (min-width: $tablet) {
            width: 17.5%;
        }

        @media screen and (min-width: $desktop) {
            width: 15%;
        }

        img {
            width: 100%;
        }
    }

    nav {
        display: flex;
        justify-content: space-around;
        margin-top: .5rem;
        width: 50%;

        @media screen and (min-width: $tablet) {
            width: 40%;
        }

        @media screen and (min-width: $desktop) {
            padding: 1.5rem;
            width: 30%;
        }

        a:hover {
            font-weight: 700;
            text-decoration: underline;
        }
    }
}

footer {
    @include flex-col;
    background: $footer;
    padding-top: 15rem;

    @media screen and (min-width: $desktop) {
        margin-bottom: 2rem;
    }

    .logo {
        align-self: flex-start;
        margin: 1.5rem;
        width: 50%;

        @media screen and (min-width: $tablet) {
            margin-left: 4rem;
            width: 20%;
        }

        @media screen and (min-width: $desktop) {
            width: 10%;
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        height: 90%;
        text-align: left;
        width: 90%;

        @media screen and (min-width: $tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @media screen and (min-width: $desktop) {
            flex-direction: row;
            width: 95%;
        }

        &__contact {
            @media screen and (min-width: $tablet) {
                flex-direction: row;
                width: 45%;
            }

            @media screen and (min-width: $desktop) {
                display: grid;
                column-gap: 1%;
                height: 50%;
                grid-template-areas:
                    "address address phone"
                    "address address email";
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                width: 45%;
            }

            &--type {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: $footer-item-margin;

                @media screen and (min-width: $desktop) {
                    justify-content: space-between;
                }

                img {
                    height: 20%;

                    @media screen and (min-width: $desktop) {
                        height: fit-content;
                    }
                }

                address,
                a {
                    font-style: normal;
                    width: 85%;
                }
            }

            &--address {
                grid-area: address;
            }

            &--phone {
                grid-area: phone;
            }

            &--email {
                grid-area: email;
            }
        }

        &__links {
            display: flex;
            flex-direction: column;
            margin: $footer-item-margin;

            @media screen and (min-width: $tablet) {
                flex-direction: row;
                justify-content: center;
                justify-content: space-around;
                width: 40%;
            }

            @media screen and (min-width: $desktop) {
                width: 25%;
            }

            &--group {
                display: flex;
                flex-direction: column;

                @media screen and (min-width: $tablet) {
                    flex: 1;
                }

                &2 {
                    margin: 2rem 0 2rem;

                    @media screen and (min-width: $tablet) {
                        margin: 0;
                    }
                }

                a {
                    margin: 1rem 0 1rem;
                    width: 50%;

                    @media screen and (min-width: $tablet) {
                        width: 100%;
                    }

                    &:hover {
                        font-weight: 700;
                    }
                }
            }
        }

        &__socialbuttons {
            align-self: center;
            display: flex;
            justify-content: space-between;
            margin: 2rem 0 3rem;
            width: 50%;

            @media screen and (min-width: $tablet) {
                align-self: center;
                margin: 2rem auto;
                width: 25%;
            }

            @media screen and (min-width: $desktop) {
                margin: 0;
                width: 8%;
            }


            .fa-stack {
                border: 1px solid $white;
                border-radius: 50%;

                @media screen and (min-width: $desktop) {
                    font-size: .75vw;
                }
            }

            .fa-stack:hover {
                border-color: $cyan;
            }

            .fa-stack:hover .fa-stack-1x {
                color: cyan;
            }
        }
    }

    hr {
        width: 100%;
    }
}